
body {
  width: 960px;
  margin: 0 auto}

h1 {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(36, 36, 36);
  color: white;
  font-family: Futura, serif;
  font-size: 30px;
}
  
h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  padding-bottom: 0.5em;
}

p, li {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 14px;
 padding-bottom: 0.5em;
}

ol {
  margin-left: 20px;
  list-style-type: decimal;
}

body {background-color: #f0f8ff};