body {background-color: #f0f8ff};

h1 {
  font-family: Bookman, serif;
  font-size: 30px;
  font-weight: bold;
  color: red;
  margin-left:20px;
}
p, li {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
 color: gray;
 margin-left:20px;
 padding-bottom: 0.5em;
}
