h1 {
  text-align: center;
  background-color: #2C2C2C;
  color: #FFFFFF;
  font-family: Futura, serif;
  font-stretch: expanded;
  font-size: 30px;
}

body {
  width: 960px;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Droid, sans-serif;
}

h2 {
  font-size: 18px;
}

.facts {
  font-size: 14px;
  padding-bottom: 1em;
 margin-left: 10px;
}

p {
  font-size: 14px;
  padding-bottom: 1em;
}

ol {
  list-style: inside;
  text-indent: 10px;
  list-style-type: decimal;
}

ul {
  list-style: none;
}

/* Slightly hacky colored bullet implementation borrowed from: https://stackoverflow.com/questions/1470214/change-bullets-color-of-an-html-list-without-using-span */

ul li:before {
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -10px;
  top: 0;
  color: #C75959;
  font-size: 16px;
}

span.introblock {
  background-color: #C75959;
  color: #FFFFFF;
}